/ClassA.class
/ClassB.class
/ClassC.class
/ClassD.class
/Driver.class
/Inspector.class
/InterfaceA.class
/InterfaceB.class
/bin/
/script1.txt
/script2.txt
/script3.txt
/script4.txt
/script5.txt
/script6.txt
/script7.txt
/script8.txt